### Heroes Of Pymoli Data Analysis
* Of the 576 active purchasers, the vast majority are male (84.0% - 484). There also exists, a smaller, but notable proportion of female purchasers (14.0% - 81).  Please note I specify purchasers versus players.  We do not have access to the account list.  Therefore we cannot assume this list if from all active players. It is only players that have made a purchase. This is a purchase history log based on an unknown time line and filters.  While there are 576 accounts making purchases this could be from a pool of 10000 accounts. 

* Our peak age demographic falls between 20-24 (44.8% - 258) with secondary groups falling between 15-19 (18.6% - 107) and 25-29 (13.4% - 77). The 20-24 demographic also spends more $1,114.06 and has the second highest purchase per person $4.32. The 35-39 age group has the highest purchases per person $4.76. 

* While males do represent the vast majority of purchases and sales (total purchases - 652, total revenue - $1967.64, average purchase per person - $4.07), females do spend more per account (total purchases - 113, total revenue - $361.94, average purchase per person - $4.47).  There may be some room to expand the game to be more "female" friendly. This should trigger a review of other gaming communities to see what % of their communities are female and determine if there may be a way to grow this demographic.  Though this recomendation may be premature depending on the missing key assumptions used to build the data set.  What if the game was actually female dominated or the data was from purchases made from an IP sourced from a male prison?  This is an online game, gender is not always relevant and many people falsify gender in the online community.

* While there is one account with the most purchases (Lisosia93 - 5 purchases), there does not appear to be any Whale sign in this community/data set.  However there are no timestamps associated with the data so it is very difficult to draw any significant conclusions from this data point.  This could be purchases from a single hour or a full month.

* Oathbreaker, Last Hope of the Breaking Storm is the most successful product.  It is the most popular (12 purchases versus 9 as the next most popular items - "Fiery Glass Crusader, Extraction", "Quickblade Of Trembling Hands" and Nirvana) and most profitable item ($50.76 with Nirvana coming in second at $44.10) within the data set.

* While all the above information is interesting it is missing key data points.  This is a purchase history data set.  We do not have access to the full item list or full account list.  We do not know what restrictions were placed on the data set to give us this purchase history (time range of this purchase history, filtered based on location of accounts etc...) Without these additional data sets and details it is very difficult to draw many solid conclusions. Example: If this is from a 6 months of purchase history from a marketing push of the "Oathbreaker, Last Hope of the Breaking Storm" then I would conclude the push was a failure.  It could be data from a single hour, in which case this game may be very successful.

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

print(purchase_data.columns)
purchase_data.head()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# define a varible to store the total player count
# total should be 576
# create a list so it can be converted to a DF and used to store all summary data of the file
player_count = {'Total Players' : purchase_data["SN"].nunique()}

# Make the summary dataframe
playersummarydf = pd.DataFrame(player_count, index=[0])

playersummarydf

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items - expected results 183
# Note Item ID and Item Name could be used to define unique items.  The business community would need to decide
# which value is relevant to the analysis.  The starter showed a count of 183 whish is how many unique "Item ID"s
# are in the source file.  Item Name had 179.
unique_items = {'Number of Unique Items' : purchase_data['Item ID'].nunique()}

# turn this into a Purchase Summary Dataframe then add summary data columns
purchaseSummarydf = pd.DataFrame(unique_items, index=[0])

# Average Price.
purchaseSummarydf['Average Price'] = purchase_data['Price'].mean()

# Count of purchases and the total revenue the item 
purchaseSummarydf['Number of Purchases'] = purchase_data.shape[0]
purchaseSummarydf['Total Revenue'] = purchase_data["Price"].sum()

# Format the results using the map functions
# since the summary df may prove useful in future analysis created a DF just for the formated data.
formatedPurchaseSummarydf = purchaseSummarydf

formatedPurchaseSummarydf['Average Price'] = formatedPurchaseSummarydf['Average Price'].map("${:.2f}".format)
formatedPurchaseSummarydf['Total Revenue'] = formatedPurchaseSummarydf['Total Revenue'].map("${:,.2f}".format)

formatedPurchaseSummarydf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Before a gender count can be built we need to understand how many unique players there are.
# This dataframe is just the Player ID and their gender

playerSummaryDF = purchase_data.drop_duplicates(['SN','Gender'])[['SN','Gender']]

# using the playerSummeryDF we can now count how many of each gender is in the purchase history.
# Build a genderDemographicsDF based on this playerSummary data
genderDemographicsSeries = playerSummaryDF['Gender'].value_counts()
genderDemographicsDF = pd.DataFrame(genderDemographicsSeries)

# rename the column
genderDemographicsDF = genderDemographicsDF.rename(columns={'Gender': 'Total Count'})

# 
# Now to calculate the 'percentage of players' calulating the value using the player count from the summary DF
# Decided to just add the format to the statement instead of storing an unformated DF and formated DF
genderDemographicsDF['Percentage of Players'] = ((genderDemographicsDF['Total Count'] / 
                                                  playerSummaryDF['SN'].count())*100).map("{:.2f}".format)

genderDemographicsDF

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# build a gender summary of purchase history.
# Start with a group by gender
genderGroupBy = purchase_data.groupby(['Gender'])

# count the number of purchses by Gender
genderPurchaseCount = purchase_data['Gender'].value_counts()
# print(genderPurchaseCount)

# Create the Average gender purchase price
genderAveragePurchasePrice = genderGroupBy['Price'].mean()
# print(genderAveragePurchasePrice)

# Create the total purchase by gender
genderTotalPurchaseValue = genderGroupBy['Price'].sum()
# print(genderTotalPurchaseValue)

# bring the columns together into a Dataframe with relevant titles
genderSummary = pd.DataFrame({"Purchase Count": genderPurchaseCount,
                              "Average Purchase Price": genderAveragePurchasePrice,
                              "Total Purchase Value": genderTotalPurchaseValue})

# calculate the amount per person - this requires the use of the previous steps DF
genderSummary['Avg Total Purchase per Person'] = (genderSummary['Total Purchase Value'] / genderDemographicsDF['Total Count'])

# format the columns
genderSummary['Average Purchase Price'] = genderSummary['Average Purchase Price'].map("${:.2f}".format)
genderSummary['Total Purchase Value'] = genderSummary['Total Purchase Value'].map("${:,.2f}".format)
genderSummary['Avg Total Purchase per Person'] = genderSummary['Avg Total Purchase per Person'].map("${:,.2f}".format)

genderSummary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Age was not included in the playerSummaryDF defined earlier so I am going to add it the same way I built the playerSummaryDF 
# but I am adding age
playerSummaryDF = purchase_data.drop_duplicates(['SN','Gender', 'Age'])[['SN','Gender','Age']]

# Now add the Age Buckets to the playerSummaryDF
playerSummaryDF["Age Bucket"] = pd.cut(playerSummaryDF["Age"], bins, labels=group_names)

# playerSummaryDF.head(10)

# now to build the agedemograpics
# count up the players based on the Age Bucket and add the value to a new ageDemographicsDF
ageDemographics = playerSummaryDF['Age Bucket'].value_counts()
ageDemographicsDF = pd.DataFrame(ageDemographics) 

# rename the column to be relevant
ageDemographicsDF = ageDemographicsDF.rename(columns={'Age Bucket': 'Total Count'})

# calculate the % of players per bin
ageDemographicsDF['Percentage of Players'] = (ageDemographicsDF['Total Count'] / playerSummaryDF['SN'].count())*100

# format
ageDemographicsDF['Percentage of Players'] = ageDemographicsDF['Percentage of Players'].map("{:.2f}".format)

# needed to resort the index
ageDemographicsDF.sort_index(inplace=True)

ageDemographicsDF

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Now add the Age Buckets to the original purchase_data data frame
purchase_data["Age Buckets"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

# purchase_data.head()
# build a new group by to enable summaries by age buckets
purchaseAgeGroupBy = purchase_data.groupby(['Age Buckets'])

# count the number of purchases by age bucket
agePurchaseCount = purchase_data['Age Buckets'].value_counts()
# print(agePurchaseCount)

# calculate the average price of each individual item purchase by age bucket
ageAveragePurchasePrice = purchaseAgeGroupBy['Price'].mean()
# print(ageAveragePurchasePrice)

# calculate the total revenue by age bucket
ageTotalPurchaseValue = purchaseAgeGroupBy['Price'].sum()
# print(ageTotalPurchaseValue)

# bring it together into a ageSummaryDF
ageSummaryDF = pd.DataFrame({"Purchase Count": agePurchaseCount,
                              "Average Purchase Price": ageAveragePurchasePrice,
                              "Total Purchase Value": ageTotalPurchaseValue})

# calculate the average total purchase amount per person within the age group
ageSummaryDF['Avg Total Purchase per Person'] = (ageSummaryDF['Total Purchase Value'] / ageDemographicsDF['Total Count'])

# format the price fields 
ageSummaryDF['Average Purchase Price'] = ageSummaryDF['Average Purchase Price'].map("${:.2f}".format)
ageSummaryDF['Total Purchase Value'] = ageSummaryDF['Total Purchase Value'].map("${:,.2f}".format)
ageSummaryDF['Avg Total Purchase per Person'] = ageSummaryDF['Avg Total Purchase per Person'].map("${:,.2f}".format)

# needed to resort the index
ageSummaryDF.sort_index(inplace=True)


ageSummaryDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# To find the top spender we need a group by player from the purchase data
playerGroupBy = purchase_data.groupby(['SN'])

# calculate the number of purchases each player made
playerPurchaseCount = purchase_data['SN'].value_counts()
# print(agePurchaseCount)

# calculate the average spend by player
playerAveragePurchasePrice = playerGroupBy['Price'].mean()
# print(ageAveragePurchasePrice)

# calculate the total spend by player
playerTotalPurchaseValue = playerGroupBy['Price'].sum()
# print(ageTotalPurchaseValue)

# bring it together into a single DF
playerPurchaseSummary = pd.DataFrame ({"Purchase Count": playerPurchaseCount,
                              "Average Purchase Price": playerAveragePurchasePrice,
                              "Total Purchase Value": playerTotalPurchaseValue})


# sort the data to find the top spender
playerPurchaseSummarySort = playerPurchaseSummary.sort_values("Total Purchase Value", ascending=False)


# format the purchase columns
playerPurchaseSummarySort['Average Purchase Price'] = playerPurchaseSummarySort['Average Purchase Price'].map("${:.2f}".format)
playerPurchaseSummarySort['Total Purchase Value'] = playerPurchaseSummarySort['Total Purchase Value'].map("${:,.2f}".format)


playerPurchaseSummarySort.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# build the DF from the purchase_data to gather just the item id, item name and price 
popItems = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

# group by the item id, item name
popItemsGroupBy = popItems.groupby(["Item ID", "Item Name"])

# count the number of purchases
itemPurchaseCount = popItemsGroupBy['Price'].count()

# calculate the average price of the items
itemPurchasePrice = popItemsGroupBy['Price'].mean()

# calcualte the total purchase value
itemTotalPurchaseValue = popItemsGroupBy['Price'].sum()

# build the data frame
itemPurchaseSummary = pd.DataFrame ({"Purchase Count": itemPurchaseCount,
                              "Item Price": itemPurchasePrice,
                              "Total Purchase Value": itemTotalPurchaseValue})

# create an formated and summary data frame for output.  Sort by the item purchase count and format the price columns
itemPurchaseSummarySort = itemPurchaseSummary.sort_values("Purchase Count", ascending=False)
itemPurchaseSummarySort['Item Price'] = itemPurchaseSummarySort['Item Price'].map("${:.2f}".format)
itemPurchaseSummarySort['Total Purchase Value'] = itemPurchaseSummarySort['Total Purchase Value'].map("${:,.2f}".format)
itemPurchaseSummarySort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# build a new data frame to sort by the total purchase value. Format the price columns
itemPurchaseSummaryTotalSort = itemPurchaseSummary.sort_values("Total Purchase Value", ascending=False)
itemPurchaseSummaryTotalSort['Item Price'] = itemPurchaseSummaryTotalSort['Item Price'].map("${:.2f}".format)
itemPurchaseSummaryTotalSort['Total Purchase Value'] = itemPurchaseSummaryTotalSort['Total Purchase Value'].map("${:,.2f}".format)


itemPurchaseSummaryTotalSort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80